.mobileMenu_content {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    left: -300px;
    transition: .5s;
}


.logo_content {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    border-bottom: 1px solid #E9E9E9;
}

.close_btn {
    background: none;
    border: none;
}

.menu_position {
    left: 0;
}